extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent enim dui, varius eget bibendum id, dictum at ligula. Integer varius tincidunt commodo. Nullam quam arcu, suscipit at tincidunt eu, egestas id massa. Donec in volutpat justo. In ac eleifend tortor, sed sollicitudin ipsum. Pellentesque efficitur lacus et dignissim condimentum. Nulla facilisi. Proin quis mauris molestie odio viverra lacinia. Sed placerat, mi ut luctus accumsan, dui velit scelerisque nunc, suscipit blandit mi neque at lectus.

                p Aliquam orci ex, tempus vel elit ac, varius convallis mauris. Curabitur et felis at tortor pharetra aliquam. Sed ultricies tincidunt nisl mollis porttitor. Aenean et tincidunt nibh. Morbi eget ullamcorper felis, ut bibendum turpis. Aenean blandit mattis magna, in efficitur arcu porttitor vitae. Aenean dignissim efficitur metus, sit amet rhoncus velit euismod vitae. Aenean vehicula fermentum purus et faucibus. Praesent turpis velit, malesuada eu tempor sit amet, auctor vel risus. Suspendisse rhoncus magna viverra tempor tempus. Vestibulum sit amet ex venenatis, molestie tortor a, sodales ante. Nulla felis diam, efficitur id lectus at, cursus vulputate felis.

                p Curabitur ut elementum orci. Etiam pretium orci laoreet lectus condimentum, ac euismod arcu volutpat. Maecenas sagittis nisi ullamcorper, tempus enim id, ultricies nulla. Nulla facilisi. In molestie magna dui, a vulputate ante lacinia vitae. Pellentesque non dui nec enim facilisis auctor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras sit amet leo ac est iaculis tempor.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras sit amet leo ac est iaculis tempor.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Los mejores destinos 
                    p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras sit amet leo ac est iaculis tempor.                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras sit amet leo ac est iaculis tempor.